body {
    background: url(ozadjenaslov1.jpg);
    margin: 0;
    padding: 0;
    background-size: cover;
}

/*                        Naslovi in podnaslovi                         */

.naslov {
    text-align: center;
    font-family: 'Inknut Antiqua', serif;
    font-size: 600%;
    padding: 0px 30px;
    margin: 0px;
}

.podnaslov {
    font-family: arial;
    text-align: center;
    padding-top: 20px;
    font-size: 50px;
}

/*                        Navigacijski meni                         */

.menu-div {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: sticky;
    top: 0px;
}

.menu {
    list-style-type: none;
    padding: 0px;
    background-color: #333;
    margin: 0px;
    overflow: hidden;
}

.menu li {
    float: left;
    text-transform: uppercase;
    width: 16.6666666667%
}

.menu li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 35px 0px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.menu li a:hover {
    background-color: #111;
    transition: all 0.2s ease-in;
}

.menu li a:active {
    background-color: white;
    color: black;
}

/*                        Slike                         */

.naslovna_slika {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-bottom: 80px;
    border: 10px solid #333;
}

.text-slika {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border: 10px solid #333;
    margin-top: 50px;
    margin-bottom: 50px;
}

/*                        Vsebina                         */

.vsebina-div {
    font-size: 30px;
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
}

.vsebina-text {
    padding: 15px 50px;
}

/*                        Viri                         */

.viri {
    font-size: 30px;
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
}

.viri_list {
    padding: 0px 150px 30;
}

.viri_list li {
    padding: 10px 0px;
}

/*                        Blockquoti                         */

.blockquote1 {
    font-size: 30px;
    font-style: italic;
    text-align: center;
}

.blockquote2 {
    text-align: center;
    padding-bottom: 20px;
}

/*                        Tabela                         */

.tabela-div {
    padding: 20px 0px 30px;
    width: 100%;
}

table {
    width: 80%;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 20px;
    font-family: sans-serif;
    text-align: center;
    font-size: 25px;
}

th {
    background-color: #333;
    color: white;
    font-size: 30px;
}

td {
    background-color: white;
}

/*                        Video                         */

.video {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 0px;
}

iframe {
    width: 100%; 
    height: calc(100% * 0.7);
}

/*                        Footer                         */

footer {
    margin-top: 40px;
}

.footer {
    background-color: #333;
    list-style-type: none;
    padding: 25px 200px;
    margin; 0px
}

.footer li {
    color: #afafaf;
    font-family: arial;
    font-size: 13px;
}

.footer li a {
    color: #afafaf;
}
